Project 3: (10 points)
your total (50 points) will divided by 5 to get 10 points for this project.


In this project, we will focus on the preprocessing step before building the model.

We will prepare data before making a Market basket analysis, which is an algorithm originally designed to help retailers understand and improve their businesses.

Also, we will do some important preprocessing step before building an unsupervised model for Customer Segments.

### Market Basket Analysis
---
Imagine you work for a retailer that sells dozens of products and your boss comes to you and asks the following questions:

* What products are purchased together most frequently?
* How should the products be organized and positioned in the store?
* How do we identify the best products to discount via coupons?
---
##### You might reasonably respond with complete bewilderment, as those questions are very diverse and do not immediately seem answerable using a single algorithm and dataset. However, the answer to all those questions and many more is market basket analysis.
--
### Dataset:
you can find the dataset on Canvas under Dataset section: "Online Retail.xlsx"

### Steps to do:

1- Open a Jupyter notebook.

2- Install the following libraries, if not installed, and then import them:
* matplotlib.pyplot, which is used to plot the results of the models.
* mlxtend.frequent_patterns, which is used to run the models;
* mlxtend.preprocessing, which is used to encode and prep the data for the models;
* numpy, which is used to work with arrays;
* pandas, which is used to work with DataFrames.

In [ ]:
import matplotlib.pyplot as plt
import mlxtend.frequent_patterns
import mlxtend.preprocessing
import numpy as np
import pandas as pd

3- Loading Data ( 1 point)

Load and view online retail dataset.Once you have downloaded the dataset, save it and note the path.

In [ ]:
# write your code here
df = pd.read_excel('Online Retail.xlsx')

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

4- Print out the first 10 rows of the DataFrame. ( 1 point)

Notice that the data contains some columns that will not be relevant to market basket analysis:

In [ ]:
# write your code here
df.head(10)

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom

5- Print out the data type for each column in the DataFrame. (1 point)

This information will come in handy when trying to perform specific cleaning tasks. Columns need to be of the correct type in order for filtering and computing to execute as expected:

In [ ]:
# write your code here
df.dtypes

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

6- Get and print the dimensions of the DataFrame, as well as the number of unique invoice numbers and customer identifications (2 points)

In [ ]:
# write your code here
# Assuming the DataFrame is named 'df'
# Print dimensions of the DataFrame
dimensions = df.shape
print(f"Dimensions of the DataFrame: {dimensions}")

# Count the number of unique invoice numbers
unique_invoices = df['InvoiceNo'].nunique()
print(f"Number of unique invoice numbers: {unique_invoices}")

# Count the number of unique customer IDs
unique_customers = df['CustomerID'].nunique()
print(f"Number of unique customer identifications: {unique_customers}")

print('Dimension of the dataframe: ',df.shape)
print('Number of unique invoice numbers: ',len(df['InvoiceNo'].unique()))
print('Number of unique Customer Identifications: ',len(df['CustomerID'].unique()))

Dimensions of the DataFrame: (541909, 8)
Number of unique invoice numbers: 25900
Number of unique customer identifications: 4372
Dimension of the dataframe:  (541909, 8)
Number of unique invoice numbers:  25900
Number of unique Customer Identifications:  4373

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

7- Data Cleaning and Formatting:

a. Create an indicator column stipulating whether the invoice number begins with "C". Called the column "IsCPresent" ( 1 points)

In [ ]:
# Create the indicator column
df['IsCPresent'] = df['InvoiceNo'].astype(str).str.startswith('C').astype(int)

# Display the first few rows to verify
print(df[['InvoiceNo', 'IsCPresent']].head())

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

  InvoiceNo  IsCPresent
0    536365           0
1    536365           0
2    536365           0
3    536365           0
4    536365           0

b. (3 points)
- Filter out all transactions having either zero or a negative number of items (in other words, items were returned),
- Remove all invoice numbers starting with "C" using the column created in previous step
- Subset the DataFrame down to InvoiceNo and Description
- Drop all rows with at least one missing value.
- Rename the DataFrame online1 and print out the first 10 rows of the filtered DataFrame, online1.

In [ ]:
# Step 1: Filter out transactions where the number of items is zero or negative
df_filtered = df[df['Quantity'] > 0]

# Step 2: Remove invoice numbers starting with 'C' using the 'IsCPresent' column
df_filtered = df_filtered[df_filtered['IsCPresent'] == 0]

# Step 3: Subset the DataFrame to include only 'InvoiceNo' and 'Description'
df_filtered = df_filtered[['InvoiceNo', 'Description']]

# Step 4: Drop rows with any missing values
df_filtered = df_filtered.dropna()

# Step 5: Rename the DataFrame as 'online1'
online1 = df_filtered

# Step 6: Print the first 10 rows of 'online1'
print(online1.head(10))

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

  InvoiceNo                          Description
0    536365   WHITE HANGING HEART T-LIGHT HOLDER
1    536365                  WHITE METAL LANTERN
2    536365       CREAM CUPID HEARTS COAT HANGER
3    536365  KNITTED UNION FLAG HOT WATER BOTTLE
4    536365       RED WOOLLY HOTTIE WHITE HEART.
5    536365         SET 7 BABUSHKA NESTING BOXES
6    536365    GLASS STAR FROSTED T-LIGHT HOLDER
7    536366               HAND WARMER UNION JACK
8    536366            HAND WARMER RED POLKA DOT
9    536367        ASSORTED COLOUR BIRD ORNAMENT

c. Approximately, how many rows and invoice numbers have already removed? ( 2 points)

--
Explanation:
len(df) gives the number of rows before filtering.
len(online1) gives the number of rows after filtering.
df['InvoiceNo'].nunique() counts the unique invoice numbers before filtering.
online1['InvoiceNo'].nunique() counts the unique invoice numbers after filtering.

In [ ]:
#write your code here to prove your answer:
# Number of rows before any filtering
initial_row_count = len(df)

# Number of rows after all filtering steps
final_row_count = len(online1)

# Calculate the number of rows removed
rows_removed = initial_row_count - final_row_count

# Number of unique invoice numbers before and after filtering
initial_invoice_count = df['InvoiceNo'].nunique()
final_invoice_count = online1['InvoiceNo'].nunique()

# Calculate the number of invoice numbers removed
invoice_numbers_removed = initial_invoice_count - final_invoice_count

# Print the results
print(f"Approximately {rows_removed} rows and {invoice_numbers_removed} invoice numbers have been removed.")

d. (2 points)
- Extract the invoice numbers from the DataFrame as a list.
- Remove duplicate elements to create a list of unique invoice numbers.
- Confirm that the process was successful by printing the length of the list of unique invoice numbers.

In [ ]:
# write your code here
# Extract invoice numbers as a list
invoice_list = online1['InvoiceNo'].tolist()

# Remove duplicate elements to create a list of unique invoice numbers
unique_invoice_list = list(set(invoice_list))

# Print the length of the list of unique invoice numbers
print(f"Length of the unique invoice numbers list: {len(unique_invoice_list)}")

Length of the unique invoice numbers list: 20136

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

e. Take the list from step d and cut it to only include the first 5,000 elements. Print out the length of the new list to confirm that it is, in fact, the expected length of 5,000( 1 point)

In [ ]:
# write your code here
# Cut the unique invoice list to include only the first 5,000 elements
limited_invoice_list = unique_invoice_list[:5000]

# Print the length of the new list to confirm it is 5,000
print(f"Length of the limited invoice numbers list: {len(limited_invoice_list)}")

Length of the limited invoice numbers list: 5000

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

f. Filter the online1 DataFrame down by only keeping the invoice numbers in the list from step e and print out the first 10 rows of online1( 1 point)

In [ ]:
# write your code here
# Filter the online1 DataFrame to keep only rows with invoice numbers in the limited_invoice_list
online1_filtered = online1[online1['InvoiceNo'].isin(limited_invoice_list)]

# Print the first 10 rows of the filtered DataFrame
print(online1_filtered.head(10))

  InvoiceNo                          Description
0    536365   WHITE HANGING HEART T-LIGHT HOLDER
1    536365                  WHITE METAL LANTERN
2    536365       CREAM CUPID HEARTS COAT HANGER
3    536365  KNITTED UNION FLAG HOT WATER BOTTLE
4    536365       RED WOOLLY HOTTIE WHITE HEART.
5    536365         SET 7 BABUSHKA NESTING BOXES
6    536365    GLASS STAR FROSTED T-LIGHT HOLDER
7    536366               HAND WARMER UNION JACK
8    536366            HAND WARMER RED POLKA DOT
9    536367        ASSORTED COLOUR BIRD ORNAMENT

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

g. Print out the dimensions of the DataFrame (online1) and the number of unique invoice numbers to confirm that the filtering and cleaning process was successful (1 point)

In [ ]:
# write your code here
# Print the dimensions of the online1 DataFrame
print(f"Dimensions of the DataFrame: {online1.shape}")

# Print the number of unique invoice numbers
unique_invoice_count = online1['InvoiceNo'].nunique()
print(f"Number of unique invoice numbers: {unique_invoice_count}")

Dimensions of the DataFrame: (530693, 2)
Number of unique invoice numbers: 20136

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

h. Transform the data in online1 into the aforementioned list of lists called invoice_item_list. The process for doing this is to iterate over the unique invoice numbers and, at each iteration, extract the item descriptions as a list and append that list to the larger invoice_item_list list. Print out elements one through four of the list (2 points)

In [ ]:
# write your code here
# Initialize an empty list to store the lists of item descriptions
invoice_item_list = []

# Iterate over each unique invoice number in the DataFrame
for invoice_no in online1['InvoiceNo'].unique():
    # Extract item descriptions for the current invoice number
    item_descriptions = online1[online1['InvoiceNo'] == invoice_no]['Description'].tolist()

    # Append the list of item descriptions to the larger invoice_item_list
    invoice_item_list.append(item_descriptions)

# Print elements one through four of the invoice_item_list
print(invoice_item_list[:4])

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

8- Data Encoding

While cleaning the data is crucial, the most important part of the data preparation process is molding the data into the correct form. Before running the models, the data, currently in the list of lists form, needs to be encoded and recast as a DataFrame.

To do this, we will leverage TransactionEncoder from the preprocessing module of mlxtend. The output from the encoder is a multidimensional array, where each row is the length of the total number of unique items in the transaction dataset and the elements are Boolean variables, indicating whether that particular item is linked to the invoice number that row represents. With the data encoded, we can recast it as a DataFrame where the rows are the invoice numbers and the columns are the unique items in the transaction dataset.

The data encoding will be done using mlxtend, but if you wish to encode the data without using a package, you are free.

More info about mlxtend in the link: https://rasbt.github.io/mlxtend/

a. Initialize and fit the transaction encoder. Print out an example of the resulting data. (2 points)

In [ ]:
# write your code here
from mlxtend.preprocessing import TransactionEncoder
import pandas as pd

# Initialize the TransactionEncoder
te = TransactionEncoder()

# Fit the encoder to the invoice_item_list
te.fit(invoice_item_list)

# Transform the data into a boolean matrix
encoded_data = te.transform(invoice_item_list)

# Convert the encoded data to a DataFrame
encoded_df = pd.DataFrame(encoded_data, columns=te.columns_)

# Print an example of the resulting data (first 5 rows)
print(encoded_df.head())

b. Recast the encoded array as a DataFrame named online_encoder_df. Print the predefined subset of the DataFrame that features both True and False values (2 points)

In [ ]:
# write your code here
# Recast the encoded array as a DataFrame named online_encoder_df
online_encoder_df = pd.DataFrame(encoded_data, columns=te.columns_)

# Print a subset of the DataFrame to show both True and False values
# For this example, we'll print the first 10 rows and 5 columns to show a mix of True and False
print(online_encoder_df.iloc[:10, :5])

c. Print out the dimensions of the encoded DataFrame. It should have 5,000 rows because the data used to generate it was previously filtered down to 5,000 unique invoice numbers. (1 point)

In [ ]:
# write your code here
# Print the dimensions of the encoded DataFrame
print(f"Dimensions of the encoded DataFrame: {online_encoder_df.shape}")

#### The data is now prepared for modeling.
---

### Wholesale Data

we will analyze a dataset containing data on various customers' annual spending amounts (reported in monetary units) of diverse product categories for internal structure. One goal of this project is to best describe the variation in the different types of customers that a wholesale distributor interacts with. Doing so would equip the distributor with insight into how to best structure their delivery service to meet the needs of each customer.

--
### Dataset:
you can find the dataset on Canvas under Dataset section: "wholesale_customers_data.csv"

In [ ]:
import pandas as pd
import numpy as np
from numpy.linalg import inv
from numpy.random import uniform, multivariate_normal, rand, randn, seed
from itertools import repeat
from time import time
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import gridspec
from matplotlib.colors import to_rgba
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.neighbors import LocalOutlierFactor
from scipy.stats import jarque_bera, normaltest
import matplotlib.pyplot as plt
import scipy.stats as stats

1. Load the wholesale customers dataset (1 point)

In [ ]:
# write your code here
df1 = pd.read_csv('wholesale_customers_data.csv')

df1.head()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185

2. Drop Channel & Region and print the current columns ( 1 point)

In [ ]:
# write your code here
df.drop

### Data Exploration:

You will begin exploring the data through visualizations and code to understand how each feature is related to the others.

3. Show a statistical summary for each of the above product categories. (1 point)

In [ ]:
# write your code here

4. Show a visual representation of the distribution of each feature in the data.using histogram and normal probability plot. (2 points)

In [ ]:
# write your code here

# Loop through columns and create plots

5. What do you observe about distribution? (2 points)

6. Scale the sample data using the natural logarithm ( 1 point)

In [ ]:
# Scale the data using the natural logarithm

7. Check for Outliers using boxplot ( 2 points)

In [ ]:
# write your code here

8. Apply natural log to transform long tails and plot the Log Sales Distribution using violinplot (2 points)

In [ ]:
# write your code here

In [ ]:
# write your code here

9. Remove Outliers using LocalOutlierFactor and plot the Log Sales Distribution using violinplot after removing the outliers. (2 points)

In [ ]:
# write your code here

10. use sns.pairplot to visualize Feature Distributions in your cleaned data (2 points)

In [ ]:
# write your code here

11. Check for Correlations using sns.clustermap (2 points)

In [ ]:
# write your code here

12. What do you observe? (2 points)

### PCA
Now that the data has been scaled to a more normal distribution and has had any necessary outliers removed, we can now apply PCA to the cleaned data to discover which dimensions about the data best maximize the variance of features involved.

13. Biplot: Visualizing Product Relationships in 2D (2 points)

In [ ]:
# write your code here

14. Use sns.jointplot to plot x and y in the above code (2 points)

In [ ]:
# write your code here

15. Exploring the new Descriptors of the cleand Data using plot.bar (2 points)

In [ ]:
# write your code here

16. How much approximately the first and second features of explain of variance in total? (1 point)

---
## All set

Please make sure you execute each cell before you submit your file; this is important because if your code didn't work on our machine for an unknown reason, it would be better to see the result rather than losing some points or wasting time to contact you to fix this issue.

What to submit:

* Your Jupyter Notebook file.
* Name your file as firstname_lastname_pj_3 .
---